@inject AuthenticationDemo.Blazor.Services.LoginService LoginService

<button type="button" class="nav-link btn btn-link" @onclick="LogoutAsync">
    <span class="bi bi-person-fill-nav-menu" aria-hidden="false"></span> Logout
</button>

@code {
    private async Task LogoutAsync()
    {
        Console.WriteLine("Logout clicked"); // Debug log
        await LoginService.Logout();
    }
}